<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
        />
        <title>میزان</title>
        <link rel="stylesheet" type="text/css" href="..//css/style.css" />
    </head>
    <body>
        <div class="mainApp">
            <div class="site-header">
                <div class="bismillah">
                    <i class="icon mz-bismillah"></i>
                </div>
                <a href="/">
                    <div class="site-brand">
                        <img src="/img/logo.png" />
                    </div>
                </a>
                <ul class="main-menu">
                    <li><a href="#">پیامستان</a></li>
                    <li><a href="#">آموزش</a></li>
                    <li><a href="#">مشاوره</a></li>
                    <li><a href="#" class="active">اطلاعات</a></li>
                </ul>
                <div class="icon-menu">
                    <a href="" class="menu-item roselife">
                        <img src="/img/rose.png" />
                    </a>
                    <a href="" class="menu-item">
                        <i class="icon mz-user-c"></i>
                    </a>
                    <a href="" class="menu-item">
                        <i class="icon mz-search"></i>
                    </a>
                </div>
                <div class="submenu-box">
                    <ul>
                        <li><a href="#" class="active">جدیدترین‌ها</a></li>
                        <li><a href="#">پربیننده‌ترین‌ها</a></li>
                        <li><a href="#">محبوب‌ترین‌ها</a></li>
                        <li><a href="#">موضوعات</a></li>
                        <li><a href="#">پدیدآورندگان</a></li>
                        <li><a href="#">پیشنهاد سردبیر</a></li>
                    </ul>
                </div>
            </div>

            <div class="intro-box">
                <div class="container main-pd">
                    <h1 class="head-title">
                        عضویت حقوقی
                    </h1>
                </div>
            </div>
            <main class="light mp">
                <div class="container">
                    <div class="box npx pt-0">
                        <div class="process-nav light">
                            <ul>
                                <li>
                                    <a
                                        href="legal-register-1.html"
                                        class="nav-item passed"
                                        >من کیم؟</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="legal-register-2.html"
                                        class="nav-item passed"
                                        >ثبت اطلاعات</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="legal-register-3.html"
                                        class="nav-item passed"
                                        >ارتباط با ما</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="legal-register-4.html"
                                        class="nav-item passed"
                                        >ارسال مدارک</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="box-header py text-center">
                            <span class="title -primary"
                                >اطلاعات شما دریافت شد.</span
                            >
                        </div>
                        <div class="box-body text-center">
                            <div class="-bold">
                                بزودی توسط کارشناسان آی ساخت بررسی خواهد شد و
                                پاسخ را در همین صفحه نمایش خواهیم داد
                            </div>
                            <div class="mt-3 -bold">
                                شناسه اطلاعات شما:
                                <span class="text-primary" persian
                                    >34601687</span
                                >
                            </div>
                            <a
                                href="../index.html"
                                class="btn btn-light mw-10 mt-3"
                                >صفحه اصلی</a
                            >
                        </div>
                    </div>
                </div>
            </main>

            <div class="page-backdrop"></div>
        </div>
        <footer>
            <div class="container">
                <div class="footbox">
                    <div class="logo">
                        <img src="..//img/footer-logo.png" />
                    </div>
                    <div class="menu">
                        <a href="#">سیاست‌های حریم خصوصی</a>
                        <a href="#">قوانین</a>
                        <a href="#">تماس با ما</a>
                    </div>
                </div>
                <div class="copyright">
                    تمامی حقوق محفوظ است.
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="..//js/scripts.js"></script>
    </body>
</html>
