<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
   <title>میزان</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="mainApp">
		<div class="site-header">
			<div class="bismillah">
				<i class="icon mz-bismillah"></i>
			</div>
			<a href="/">
				<div class="site-brand">
					<img src="/img/logo.png">
				</div>
			</a>
			<ul class="main-menu">
				<li><a href="#">پیامستان</a></li>
				<li><a href="#">آموزش</a></li>
				<li><a href="#">مشاوره</a></li>
				<li><a href="/bank" class="active">اطلاعات</a></li>
			</ul>
			<div class="icon-menu">
				<a href="/" class="menu-item roselife">
					<img src="/img/rose.png">
				</a>
				<a href="/profile" class="menu-item">
					<i class="icon mz-user-c"></i>
				</a>
				<a href="/bank-data" class="menu-item">
					<i class="icon mz-search"></i>
				</a>
			</div>
			<div class="submenu-box">
				<ul>
					<li><a href="#" class="active">جدیدترین‌ها</a></li>
					<li><a href="#">پربیننده‌ترین‌ها</a></li>
					<li><a href="#">محبوب‌ترین‌ها</a></li>
					<li><a href="#">موضوعات</a></li>
					<li><a href="#">پدیدآورندگان</a></li>
					<li><a href="#">پیشنهاد سردبیر</a></li>
				</ul>
			</div>
		</div>
 

		<div class="intro-box">
			<div class="container main-pd">
				<h1 class="head-title">
					عضویت حقوقی
				</h1>
			</div>
		</div>
		<main class="light mp">
			<div class="container">
				<div class="box npx pt-0">
					<div class="process-nav light">
						<ul>
							<li>
								<a href="step-1.html" class="nav-item passed">من کیم؟</a>
							</li>
							<li>
								<a href="step-2.html" class="nav-item passed">ثبت اطلاعات</a>
							</li>
							<li>
								<a href="step-3.html" class="nav-item current">ارتباط با ما</a>
							</li>
							<li>
								<a href="step-4.html" class="nav-item">ارسال مدارک</a>
							</li>
						</ul>
					</div>
					<ul class="process-arrow justified">
						<li>
							<a href="step-3.html" class="nav-item passed">تماس</a>
						</li>
						<li>
							<a href="step-3-1.html" class="nav-item passed">آدرس</a>
						</li>
						<li>
							<a href="step-3-2.html" class="nav-item current">اینترنت</a>
						</li>
						<li>
							<a href="step-3-3.html" class="nav-item">ساعت کار</a>
						</li>
					</ul>
					<div class="box-body py">
						<div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">وبسایت</label>
								<div class="col-sm-10 input-icon">
									<input type="url" class="form-control" placeholder="www">
									<i class="icon mz-link blue"></i>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">وبلاگ</label>
								<div class="col-sm-10 input-icon">
									<input type="url" class="form-control" placeholder="www">
									<i class="icon mz-link blue"></i>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">ایمیل</label>
								<div class="col-sm-10 input-icon">
									<input type="email" class="form-control" placeholder="name@example.com">
									<i class="icon mz-mail orange-l"></i>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">اینستاگرام</label>
								<div class="col-sm-10 input-icon">
									<input type="text" class="form-control" placeholder="">
									<i class="icon mz-instagram red"></i>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">توئیتر</label>
								<div class="col-sm-10 input-icon">
									<input type="text" class="form-control" placeholder="">
									<i class="icon mz-twitter blue-l"></i>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-sm-2 form-label">تلگرام</label>
								<div class="col-sm-10 input-icon">
									<input type="text" class="form-control" placeholder="">
									<i class="icon mz-paper-plane blue-l"></i>
								</div>
							</div>
						</div>
						<div class="text-left mt-4">
							<a href="step-3-1.html"" class="btn btn-light mw-10">قبلی</a>
							<a href="step-3-3.html" class="btn btn-warning mw-10">بعدی</a>
						</div>
					</div>
				</div>
			</div>
		</main>

 
		<div class="page-backdrop"></div>
	</div>
	<footer>
		<div class="container">
			<div class="footbox">
				<div class="logo">
					<img src="..//img/footer-logo.png">
				</div>
				<div class="menu">
					<a href="#">سیاست‌های حریم خصوصی</a>
					<a href="#">قوانین</a>
					<a href="#">تماس با ما</a>
				</div>
			</div>
			<div class="copyright">
				تمامی حقوق محفوظ است.
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/scripts.js"></script>
	
</body>
</html>