<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
   <title>میزان</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="mainApp">
		<div class="site-header">
			<div class="bismillah">
				<i class="icon mz-bismillah"></i>
			</div>
			<a href="/">
				<div class="site-brand">
					<img src="/img/logo.png">
				</div>
			</a>
			<ul class="main-menu">
				<li><a href="#">پیامستان</a></li>
				<li><a href="#">آموزش</a></li>
				<li><a href="#">مشاوره</a></li>
				<li><a href="/bank" class="active">اطلاعات</a></li>
			</ul>
			<div class="icon-menu">
				<a href="/" class="menu-item roselife">
					<img src="/img/rose.png">
				</a>
				<a href="/profile" class="menu-item">
					<i class="icon mz-user-c"></i>
				</a>
				<a href="/bank-data" class="menu-item">
					<i class="icon mz-search"></i>
				</a>
			</div>
			<div class="submenu-box">
				<ul>
					<li><a href="#" class="active">جدیدترین‌ها</a></li>
					<li><a href="#">پربیننده‌ترین‌ها</a></li>
					<li><a href="#">محبوب‌ترین‌ها</a></li>
					<li><a href="#">موضوعات</a></li>
					<li><a href="#">پدیدآورندگان</a></li>
					<li><a href="#">پیشنهاد سردبیر</a></li>
				</ul>
			</div>
		</div>
 

		<div class="intro-box">
			<div class="container main-pd">
				<h1 class="head-title">
					عضویت حقوقی
				</h1>
			</div>
		</div>
		<main class="light mp">
			<div class="container">
				<div class="box npx pt-0">
					<div class="process-nav light">
						<ul>
							<li>
								<a href="step-1.html" class="nav-item passed">من کیم؟</a>
							</li>
							<li>
								<a href="step-2.html" class="nav-item passed">ثبت اطلاعات</a>
							</li>
							<li>
								<a href="step-3.html" class="nav-item passed">ارتباط با ما</a>
							</li>
							<li>
								<a href="step-4.html" class="nav-item current">ارسال مدارک</a>
							</li>
						</ul>
					</div>
					<div class="box-body py">
						<div class="box-title text-primary mb-3">لطفا مدارک هویتی تقاضا کننده بارگذاری را بارگذاری کنید </div>
						<div>
							<div class="form-group row -md">
								<label class="col-md-3">تصویر روی کارت ملی
									<div class="small mb-0 mt-3 text-color">توضیحاتی که در مورد نوع عکس مثل کارت ملی و سایز و یا حجم عکس لازم است اینجا نوشته شود.</div>
								</label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-md-3">تصویر پشت کارت ملی
									<div class="small mb-0 mt-3 text-color">توضیحاتی که در مورد نوع عکس مثل کارت ملی و سایز و یا حجم عکس لازم است اینجا نوشته شود.</div>
								</label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-md-3">تصویر صفحه اول شناسنامه
									<div class="small mb-0 mt-3 text-color">توضیحاتی که در مورد نوع عکس مثل کارت ملی و سایز و یا حجم عکس لازم است اینجا نوشته شود.</div>
								</label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="box-title text-primary">
							هم اکنون مدارک مجموعه حقوقی را بارگذاری نمایید
						</div>
						<div>
							<div class="form-group row -md">
								<label class="col-md-3">بارگذاری تصویر نامه رسمی نمایندگی 
									<div class="small mb-0 mt-3 text-color">مجموعه ی درخواست کننده عضویت طی نامه ای رسمی به آی ساخت، نماینده خود را جهت تحویل گرفتن پنل کاربری اعلام می دارد. نمونه نامه را ازین جا دانلود کنید.</div>
								</label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-md-3">بارگذاری تصویر اساسنامه </label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
							<div class="form-group row -md">
								<label class="col-md-3">بارگذاری روزنامه رسمی </label>
								<div class="upload-box col-md-9">
									<label class="upload">
									  <input type="file">
									  <span class="file-control btn btn-primary btn"><i class="icon mz-cloud-upload-o"></i> افزودن</span>
									</label>
								</div>
							</div>
						</div>
						<div class="text-left mt-4">
							<a href="step-3.html"" class="btn btn-light mw-10">مرحله قبل</a>
							<a href="step-5.html" class="btn btn-warning mw-10">مرحله بعد</a>
						</div>
					</div>
				</div>
			</div>
		</main>

 
		<div class="page-backdrop"></div>
	</div>
	<footer>
		<div class="container">
			<div class="footbox">
				<div class="logo">
					<img src="..//img/footer-logo.png">
				</div>
				<div class="menu">
					<a href="#">سیاست‌های حریم خصوصی</a>
					<a href="#">قوانین</a>
					<a href="#">تماس با ما</a>
				</div>
			</div>
			<div class="copyright">
				تمامی حقوق محفوظ است.
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/scripts.js"></script>
	
</body>
</html>